body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    font-size: 18px;
    color: black;
}

h1 {
    text-align: right;
}

form {
    padding: 5px 0px;
}

.btn {
    width: 110px;
}

.row {
    padding: 12px 12px;
}

.header-temp {
    font-size: 17px;
    text-align: center;
    margin: 0 10;
}

.time {
    font-size: 14px;
    text-align: left;
    padding: none;
    margin: 0;
}

.location {
    text-align: right;
    font-size: 28px;
}

.current-temp {
    text-align: right;
    font-size: 45px;
}

.fa-sun {
    font-size: 90px;
    color: #ffe168;
}

.fa-cloud-sun {
    font-size: 30px;
    color: #ffe168;
}

.fa-cloud {
    font-size: 30px;
    color: rgb(196, 194, 194);
}

.card-title {
    font-size: 12px;
    text-align: center;
}

.card-text {
    font-size: 20px;
    text-align: center;
}

.weather-app {
    border: 1px solid #dadde1;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 800px;
}